@import 'tailwindcss';

@theme {
  --color-black-1: #111111;
  --color-cgrey: #757575;
  --color-cgrey-2: #f5f5f5;
  --color-orange: #fa5400;
  --color-soft-gray: rgba(117, 117, 117, 0.2);

  --background-image-gradient-radial: radial-gradient(var(--tw-gradient-stops));
  --background-image-gradient-conic: conic-gradient(
    from 180deg at 50% 50%,
    var(--tw-gradient-stops)
  );
}

/*
  The default border color has changed to `currentcolor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }
}

:root {
  --primary: #274494;
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

body {
  color: rgb(var(--foreground-rgb));
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fade-in {
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;

  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}

.btn-primary {
  @apply rounded-sm bg-blue-600 px-4 py-2 text-white transition-all hover:bg-blue-800;
}

.btn-secondary {
  @apply rounded-sm bg-gray-200 px-4 py-2 text-black transition-all hover:bg-gray-300;
}

.btn-disabled {
  @apply cursor-not-allowed rounded-sm bg-gray-600 px-4 py-2 text-white transition-all;
}

.btn-danger {
  @apply bg-red-600 px-4 py-2 text-white transition-all hover:bg-red-800;
}
